.card--div {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  background-color: rgba(64, 64, 64, 0.9);
  border-radius: 25px;
  align-items: center;
  box-shadow: 5px 5px 3px rgba(64, 64, 64, 0.9);
  color: white
}

.card--img {
  width: 150px;
  height: 150px;
}

.card--header {
  margin: 0px;
  margin-top: 10px;
}

.card--price {
  margin: 0px;
}