.div--header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rightdiv--header{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

button {
  border-radius: 15px;
  color: white;
  background-color: gray;
  box-shadow: none;
  border: none;
  border: white 1px solid
}

button:hover {
  background-color: hsl(0, 0%, 33%);
  border: black solid 2px
}